* {
    box-sizing: border-box;
}

#contact_modal {
    display: none;
}

.filter {
    margin: 0 100px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.photograph-header div {
    width: calc(100% / 3);
}

.photograph-header div img {
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.media-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
}

.media-content > div {
    width: calc(100% / 3);
    padding: 10px;
}

.media-content > div img,
.media-content > div video {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.total-likes-container {
    width: 300Px;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    right: 0px;
    padding: 15px;
    background: #DB8876;
}

.total-likes-container span {
    font-weight: bolder;
}

.select-container select {
    background: #901C1C;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
}

.filter p,
.filter div {
    display: inline-block;
}

.lightbox-modal.show {
    display: block;
}

.lightbox-modal {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 99999;
    background: #c7c7c7c2;
}

.lightbox-modal .lightbox-modal-header {
    position: absolute;
    right: 20px;
    top: 20px;
}

.lightbox-modal .lightbox-modal-header .lightbox-close {
    cursor: pointer;
    color: #901C1C;
    font-weight: bolder;
    font-family: sans-serif;
}

.lightbox-modal .lightbox-modal-header .lightbox-close:hover {
    opacity: 0.7;
}

body.has-open-lightbox {
    overflow: hidden;
}

.lightbox-modal .lightbox-modal-content {
    background: white;
    height: calc(100vh - 160px);
    width: calc(100% - 160px);
    box-shadow: 0px 1px 3px #a5a5a5;
    top: 80px;
    position: relative;
    left: 80px;
}

.lightbox-modal-body {
    width: calc(100% - 160px);
    height: calc(100% - 80px);
    position: relative;
    left: 80px;
    top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lightbox-modal-body img, 
.lightbox-modal-body video {
    width: auto;
    height: 100%;
}

.lightbox-modal-pagination {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.lightbox-modal-arrow-left,
.lightbox-modal-arrow-right {
    font-size: 26px;
    color: #901C1C;
    cursor: pointer;
    font-weight: bolder;
}

.lightbox-modal-arrow-left:hover,
.lightbox-modal-arrow-right:hover {
    opacity: 0.7;
}

.lightbox-modal-arrow-left {
    position: absolute;
    left: 20px;
}

.lightbox-modal-arrow-right{
    position: absolute;
    right: 20px;
}

.lightbox-modal-body span {
    position: absolute;
    bottom: -25px;
    color: #901C1C;
}